{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "no-console": "warn",
    "import/extensions": 0,
    "no-undef": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-no-undef": "off",
    "react/prop-types": "off"
  }
}
