:root {
  --white: #ffffff;
  --purple-100: #f7c6d7;
  --purple-400: #fe0056;
  --spacing: 8px;
  --shape: 4px;
  --elevation-3: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.field {
  padding: var(--spacing);
  text-transform: uppercase;
  border: solid 1px var(--purple-400);
  color: var(--purple-400);
  font-weight: 600;
  border-radius: var(--shape);
  background: transparent;
  cursor: pointer;
  transition: ease-in background-color 0.2s;
  outline: none;
}

.button.button-outline {
  cursor: pointer;
}

.button.button-outline:hover,
.button.button-outline:active {
  background: var(--purple-400);
  color: var(--purple-100);
  box-shadow: var(--elevation-3);
}

.button.button-outline.white {
  border: solid 1px var(--white);
  color: var(--white);
}

.button.button-outline.white:hover,
.button.button-outline.white:active {
  background: var(--white);
  color: var(--purple-400);
  box-shadow: var(--elevation-3);
}

.button.button-outline:active {
  filter: brightness(0.9);
}

input.field-outline:focus {
  background: var(--purple-100);
}
