*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #0767ff;
  --white: #ffffff;
  --purple-100: #f7c6d7;
  --purple-200: #ff72a3;
  --purple-400: #fe0056;
  --spacing: 8px;
  --shape: 4px;
  --paper: #f5f5f5;
  --elevation-3: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  --max-container-width-lg: 1480px;
  --warn: #dc3545;
  --success: #28a745;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background: var(--background);
}

.field {
  padding: var(--spacing);
  text-transform: uppercase;
  border: solid 1px var(--purple-400);
  color: var(--purple-400);
  font-weight: 600;
  border-radius: var(--shape);
  background: transparent;
  cursor: pointer;
  transition: ease-in background-color 0.2s;
  outline: none;
}

.button.button-outline {
  cursor: pointer;
}

.button.button-outline:hover,
.button.button-outline:active {
  background: var(--purple-400);
  color: var(--purple-100);
  box-shadow: var(--elevation-3);
}

.button.button-outline.white {
  border: solid 1px var(--white);
  color: var(--white);
}

.button.button-outline.white:hover,
.button.button-outline.white:active {
  background: var(--white);
  color: var(--purple-400);
  box-shadow: var(--elevation-3);
}

.button.button-outline:active {
  filter: brightness(0.9);
}

input.field-outline:focus {
  background: var(--purple-100);
}

.container {
  max-width: var(--max-container-width-lg);
  margin: auto;
  padding: 0 calc(var(--spacing) * 4);
}

body > div > main {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--background);
}

.main-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backdrop {
  height: 100%;
  width: 100%;
  background: url(//www.devmedia.com.br/view/img/grid.png),
    linear-gradient(to right, rgba(0, 126, 174, 0.85), rgba(26, 193, 187, 0.85));
}

main.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 400px;
  gap: calc(var(--spacing) * 2);
}

section.alphabet-container > #input-import-file {
  display: none;
}

.notification-container {
  width: calc(100% - var(--spacing) * 2);
  height: 80px;
  box-shadow: var(--elevation-3);
  background: #242424;
  color: var(--white);
  position: fixed;
  bottom: var(--spacing);
  left: var(--spacing);
  right: var(--spacing);
  border-radius: var(--shape);
  font-size: 18px;
  color: var(--white);
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.notification-container.error {
  background: var(--warn);
}

.notification-container.success {
  background: var(--success);
}

.notification-container.show {
  animation: 0.4s cubic-bezier(0, 1.03, 0.66, 1.1) notification_show;
}

.notification-container.hide {
  animation: 0.4s cubic-bezier(0, 1.03, 0.66, 1.1) notification_hide forwards;
}

@keyframes notification_show {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes notification_hide {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
